*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /* added for nav-toggle positioning */
    position: relative;
}

/* header nav */
.nav {
    width: 100%;

    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}


.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;

    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

header {
    background-color: #2E323F;
    padding: 1em 0;
    text-align: center;
}

.nav__list {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__list li {
    margin-bottom: 1em;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.nav__link--button {
    padding: 0.5em 1.25em;
    background-color: #A59678;
    border-radius: 100px;
}

/* hero */

.hero {
    background-color: #3B4050;
    padding: 100px 0;
    color: #fff;
}

.hero h1 {
    font-family: Oswald;
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.1;
    color: #A59678;
}

.hero__text p {
    margin-bottom: 1em;
    font-weight: 300;
}

h1 span {
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 0.5em 2em;
    background-color: #A59678;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Oswald;
    color: #fff;
}

/* about */

.about {
    padding: 100px 0;
    background-color: rgb(237, 233, 233);
}

.about__item h2 {
    margin-top: 0em;
    font-family: Oswald;
    color: #A59678;
}

.about__item {
    padding: 1em 0;
    text-align: center;
}

/* main */

.main {
    padding: 100px 0;
}

.main h2 {
    font-family: Oswald;
}

.sidebar__item {
    background-color: #3B4050;
    color: #fff;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.sidebar__item p {
    font-weight: 300;
}

/* footer */

footer {
    padding: 100px 0;
    background-color: #3B4050;
    color: #fff;
}

footer h2 {
    color: #fff;
}

footer h3 {
    font-family: Oswald;
    color: #A59678;
}


footer p {
    font-weight: 200;
}

.footer__item {
    margin-top: 2em;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer__li {
    font-weight: 200;
    margin-top: 0.5em;
}

.footer__li a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

.footer--links {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.footer__item {
    margin-top: 0;
}

@media screen and (min-width: 700px) {
    .row {
        display: flex;
        gap: 2em;
    }

    header .row {
        flex-direction: column;
        gap: 0.5em;
    }

    .main {
        flex-direction: column;
    }

    .main--primary {}

    .sidebar {
        gap: 1em;

    }

    footer h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .footer__content {
        justify-content: space-between;
    }

    .footer--about {
        width: 60%;
    }

    .footer--links {
        flex-direction: column;
        justify-content: end;
    }


}

@media screen and (min-width: 1000px) {
    .main {
        flex-direction: row;
    }

    .sidebar {
        flex-direction: column;
    }

    .footer--about {
        width: 35%;
    }

    .footer--links {
        flex-direction: row;
        justify-content: flex-end;
        width: 65%;
        display: flex;
        gap: 1em;
    }

    .footer__li {
        margin-top: 1.25em;
    }
}